nav ul a,
nav .brand-logo, p {
  color: #444;
}
#nav2 {
  z-index: 100;
}
body {
  font-family: 'Anton';
}

p {
  line-height: 2rem;
}

.sidenav-trigger {
  color: #26a69a;
}
#text {
  float:left;
}
#index-banner, #portfolio-header {
  text-shadow: black 2px 2px;
}
.info {
  margin-bottom: 10px;
}


.card-image {
    height: 150px;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
.parallax-container .section {
    width: 100%;
} 

 

/* @media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
} */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
